---
---

.section {
  padding: 100px 0;
}

.head {
  padding: 200px 0;
}

body h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
}

body h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
}

body h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

body h4 {
  font-size: 1.25em;
}

body h5 {
  font-size: 1em;
}

body h6 {
  font-size: 1em;
  color: #777;
}

body p, body blockquote, body ul, body ol, body dl, body table, body pre {
  margin-top: 0;
  margin-bottom: 16px;
}

@import "colors";
@import "flex-video";
