<script src="/vendor/sapegin/social-likes.min.js"></script>
<div class="well text-center" style="padding-bottom: 20px; padding-top: 0; margin-top: 15px;">
  <p>Рассказать друзьям:</p>
  <div class="social-likes">
    <div class="facebook btn btn-info" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
    <div class="twitter btn btn-info" title="Поделиться ссылкой в Твиттере">Twitter</div>
    <div class="vkontakte btn btn-info" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
  </div>
</div>